div[class^="category-title-header"] {
    display: none;
}
    
.category-header div[class^="category-title-header"] {
  box-sizing: border-box;
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  justify-content: center;
  border: 2px solid $primary-low;
  .category-title-contents {
    padding: 20px;
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }
    h1 {
      display: inline;
    }
  }
  .category-title-description {
    font-size: 1.1em;
    color: $primary-high;
    a,
    a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}
.category-header {
  #main-outlet {
    padding-top: 20px;
  }
}

